<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohayou.liteshop.dao.AdminMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ohayou.liteshop.entity.AdminMenu">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="sort" property="sort" />
        <result column="name" property="name" />
        <result column="icon" property="icon" />
        <result column="hidden" property="hidden" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        m.id, m.parent_id, m.name, m.level, m.sort, m.name, m.icon, m.hidden, m.create_time, m.update_time, m.deleted
    </sql>
    <select id="listAdminMenuByRole" resultType="com.ohayou.liteshop.entity.AdminMenu">
        select <include refid="Base_Column_List"/>
        from admin_menu m
        join admin_role_menu_relatioin rm on rm.menu_id=m.id
        join admin_role r on rm.role_id=r.id
        where r.id=#{id} and m.deleted = 0 and rm.deleted=0
    </select>

</mapper>
