<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohayou.liteshop.dao.AdminResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ohayou.liteshop.entity.AdminResource">
        <id column="id" property="id" />
        <result column="category_id" property="categoryId" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="desc" property="desc" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        re.id, re.category_id, re.name, re.url, re.desc, re.create_time, re.update_time, re.deleted
    </sql>
    <select id="findResourceByRole" resultType="com.ohayou.liteshop.entity.AdminResource">
        select <include refid="Base_Column_List" />
        from admin_resource re
        join admin_role_resource_relation arrr on re.id = arrr.resource_id
        join admin_role r on r.id = arrr.role_id
        where r.id= #{id} and re.deleted = 0 and arrr.deleted = 0
    </select>

</mapper>
