<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohayou.liteshop.dao.AdminUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ohayou.liteshop.entity.AdminUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="status" property="status" />
        <result column="avatar" property="avatar" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, last_login_ip, last_login_time, status, avatar, create_time, update_time, deleted
    </sql>
    <select id="findUserByRoleId" resultType="com.ohayou.liteshop.entity.AdminUser">
        select u.* from admin_user u
        join admin_user_role_relation aurr on u.id = aurr.user_id
        where aurr.role_id = #{roleId}
        and aurr.deleted = 0
        and u.deleted = 0
    </select>

</mapper>
