<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohayou.liteshop.dao.MallCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ohayou.liteshop.entity.MallCategory">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="parent_id" property="parentId" />
        <result column="img" property="img" />
        <result column="icon" property="icon" />
        <result column="attr_group_id" property="attrGroupId" />
        <result column="detail" property="detail" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        c.id, c.name, c.level, c.parent_id, c.img, c.icon, c.attr_group_id, c.detail, c.sort, c.create_time, c.update_time, c.deleted
    </sql>
    <select id="findCategoryListByBrandId" resultType="com.ohayou.liteshop.entity.MallCategory">
    select
    <include refid="Base_Column_List" />
    from mall_category c
    join mall_brand_category_relation bcr on bcr.category_id = c.id
    join mall_brand b on bcr.brand_id = b.id
    where b.id = #{brandId} and b.deleted = 0 and c.deleted = 0 and bcr.deleted = 0
    </select>

</mapper>
