<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohayou.liteshop.dao.MallCouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ohayou.liteshop.entity.MallCoupon">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="detail" property="detail" />
        <result column="total" property="total" />
        <result column="discount" property="discount" />
        <result column="min" property="min" />
        <result column="stint" property="stint" />
        <result column="status" property="status" />
        <result column="type" property="type" />
        <result column="time_type" property="timeType" />
        <result column="days" property="days" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        c.id, c.name, c.detail, c.total, c.discount,c.min, c.stint, c.status, c.type, c.time_type, c.days, c.start_time, c.end_time, c.create_time, c.update_time
    </sql>
    <select id="getCouponByGoods" resultType="com.ohayou.liteshop.entity.MallCoupon" parameterType="com.ohayou.liteshop.entity.MallGoodsSpu">
        select
        <include refid="Base_Column_List"></include>
         from mall_coupon c
        join mall_coupon_type ct on ct.coupon_id = c.id
        where ct.goods_id = #{id}
        and ct.deleted = 0 and c.deleted = 0
        union
        select
        <include refid="Base_Column_List"></include>
        from mall_coupon c
        join mall_coupon_type ct on ct.coupon_id = c.id
        where ct.brand_id = #{brandId}
        and ct.deleted = 0 and c.deleted = 0
        union
        select
        <include refid="Base_Column_List"></include>
        from mall_coupon c
        join mall_coupon_type ct on ct.coupon_id = c.id
        where ct.category_id = #{categoryId}
        and ct.deleted = 0 and c.deleted = 0
    </select>

</mapper>
