<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohayou.liteshop.dao.MallGoodsAttrMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ohayou.liteshop.entity.MallGoodsAttr">
        <id column="id" property="id" />
        <result column="attr_name" property="attrName" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ga.id, ga.attr_name, ga.sort, ga.create_time, ga.update_time, ga.deleted
    </sql>
    <select id="listAttrByGroupId" resultType="com.ohayou.liteshop.entity.MallGoodsAttr">
        select
        <include refid="Base_Column_List"/>
        from mall_goods_attr ga
        join mall_attr_group_relation gr on ga.id = gr.attr_id
        join mall_attr_group ag on ag.id = gr.attr_group_id
        where ag.id=#{categoryId} and ga.deleted=0

    </select>

</mapper>
