<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohayou.liteshop.dao.MallBrandMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ohayou.liteshop.entity.MallBrand">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="logo" property="logo" />
        <result column="introduction" property="introduction" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, logo, introduction, create_time, update_time, deleted
    </sql>
    <select id="getBrandByCouponId" resultType="com.ohayou.liteshop.entity.MallBrand">
        select b.* from mall_brand b
        join mall_coupon_type ct on ct.brand_id = b.id
        join mall_coupon c on c.id = ct.coupon_id
        where c.id = #{couponId}
        and c.deleted = 0
        and ct.deleted = 0
        and b.deleted = 0
    </select>

</mapper>
