<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohayou.liteshop.dao.MallGoodsSpuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ohayou.liteshop.entity.MallGoodsSpu">
        <id column="id" property="id" />
        <result column="goods_sn" property="goodsSn" />
        <result column="name" property="name" />
        <result column="title" property="title"/>
        <result column="category_id" property="categoryIds" />
        <result column="brand_id" property="brandId" />
        <result column="brief" property="brief" />
        <result column="title_img" property="titleImg" />
        <result column="gallery" property="gallery" />
        <result column="sales" property="sales"/>
        <result column="status" property="status" />
        <result column="hot" property="hot" />
        <result column="sort" property="sort" />
        <result column="is_new" property="isNew" />
        <result column="unit" property="unit" />
        <result column="price" property="price" />
        <result column="discount_price" property="discountPrice" />
        <result column="attr_group_id" property="categoryIds" />
        <result column="detail" property="detail" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_sn, name,title ,category_id, brand_id, brief,weight, title_img, gallery,sales, status, hot, sort, is_new, unit, price, discount_price, attr_group_id, detail, create_time, update_time, deleted
    </sql>
    <select id="findGoodsByGoodsSnOrName" resultType="com.ohayou.liteshop.entity.MallGoodsSpu">
        select
        <include refid="Base_Column_List" />

        from mall_goods_spu
        where goods_sn = #{goodsSn}
        union all
        select
        <include refid="Base_Column_List" />
        from mall_goods_spu
        where name = #{name}
    </select>


</mapper>
