<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohayou.liteshop.dao.MallOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ohayou.liteshop.entity.MallOrder">
        <id column="id" property="id" />
        <result column="order_sn" property="orderSn" />
        <result column="user_id" property="userMobile" />
        <result column="status" property="status" />
        <result column="aftersale_status" property="aftersaleStatus" />
        <result column="receiver" property="receiver" />
        <result column="mobile" property="mobile" />
        <result column="address" property="address" />
        <result column="message" property="message" />
        <result column="freight_price" property="freightPrice" />
        <result column="goods_price" property="goodsPrice" />
        <result column="coupon_price" property="couponPrice" />
        <result column="actual_payment" property="actualPayment" />
        <result column="order_price" property="orderPrice" />
        <result column="pay_type" property="payType"/>
        <result column="pay_id" property="payId" />
        <result column="pay_time" property="payTime" />
        <result column="ship_sn" property="shipSn" />
        <result column="ship_channel" property="shipChannel" />
        <result column="ship_time" property="shipTime" />
        <result column="refund_amount" property="refundAmount" />
        <result column="refund_type" property="refundType" />
        <result column="refund_message" property="refundMessage" />
        <result column="refund_time" property="refundTime" />
        <result column="confirm_time" property="confirmTime" />
        <result column="apply_after_sale_time" property="applyAfterSaleTime"/>
        <result column="comments" property="comments" />
        <result column="end_time" property="endTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_sn, user_id, status, aftersale_status, receiver, mobile, address, message, freight_price, goods_price, actual_payment, coupon_price, order_price, pay_type,apply_after_sale_time, pay_id, pay_time, ship_sn, ship_channel, ship_time, refund_amount, refund_type, refund_message, refund_time, confirm_time, comments, end_time, create_time, update_time, deleted
    </sql>

</mapper>
