<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohayou.liteshop.dao.MemAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ohayou.liteshop.entity.MemAddress">
        <id column="id" property="id" />
        <result column="receiver" property="receiver" />
        <result column="receiver_mobile" property="receiverMobile" />
        <result column="area" property="area" />
        <result column="address" property="address" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, receiver, receiver_mobile, area, address, user_id, create_time, update_time, deleted
    </sql>

</mapper>
