<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohayou.liteshop.dao.MemCollectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ohayou.liteshop.entity.MemCollect">
        <id column="id" property="id" />
        <result column="user_id" property="userMobile" />
        <result column="spu_id" property="spuId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, spu_id, create_time, update_time, deleted
    </sql>
    <select id="getCountByGoodsIdAndUserId" resultType="Integer">
        select count(1)
        from mem_collect
        where spu_id = ${goodsId}
        and user_id = ${userId}
        and deleted  = 0
    </select>

</mapper>
